<p>Welcome <%= current_user.name %>!</p>

<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-9">
    <h4><u>All Questions</u></h4>
    <p class="italic grey">every question posted in Q&A</p>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-3">
    <%= link_to  "New Question", new_question_path, class: "btn btn-success float_right", title: "Post a question" %>
    <%= link_to  "<i class='fa fa-search'></i>".html_safe, searches_path, class: "btn btn-default float_right margin-right-5", title: "Find a question", "data-turbolinks": false %>
  </div>
</div>

<hr>
<% @questions.each_with_index do |question, index| %>
  <h4><%= calculate_index(params[:page], index, @limit) %>. <%= link_to question.title, question %></h4> 
  <p><%= question.answers.count %> comments </p>
  <p>Posted <%= time_ago_in_words(question.created_at) %> ago, by <span class="dotted"><%= question.user.name %></span></p>
  <br>
<% end %>

<%= paginate @questions %>